@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sacramento&display=swap");

@import "tailwindcss";

@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  --background-image-logo: url("/assets/shop log.png");
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@layer components {
  .hero-custom {
    @apply absolute w-full h-[calc(100vh-5rem)] top-0 left-0 bg-black/50 z-10 px-4 lg:bg-black/30;

    @apply sm:pt-20 sm:pl-10 lg:grid grid-cols-12  lg:items-center-safe  lg:gap-8;
  }

  .hero-text {
    @apply text-white text-5xl pl-5 pt-40 font-[playfair] uppercase absolute w-full h-[calc(100vh-5rem)]  top-20 left-0 z-10;
    @apply md:pl-15 md:text-6xl lg:text-6xl lg:pt-5 lg:font-bold;
  }
  .hero-btn {
    @apply bg-white w-full h-10 px-6 py-2 mt-4;
    @apply text-black font-[montserrat] font-extrabold text-lg;
    @apply hover:bg-black hover:text-white transition-all duration-500 cursor-pointer;
    @apply lg:mt-10 lg:bg-black lg:text-white;
    @apply hover:text-pink-600 transition-all duration-300;
  }
  .img-slide {
    @apply w-full  h-full shrink-0;
  }
  .img-slides {
    @apply w-40 h-20;
  }

  .baseStyles {
    @apply px-4 py-2 border rounded-md transition-colors;
  }
  .active-styles {
    @apply bg-indigo-600 text-white border-indigo-600;
  }
  .inactive-styles {
    @apply bg-white text-gray-700 hover:bg-gray-100 border-gray-300;
  }
  .our-collections {
    @apply h-full bg-center bg-cover bg-black/60 bg-blend-overlay hover:scale-105 transition-all duration-300 flex items-center justify-center font-bold text-3xl font-[oplayfair] text-white uppercase md:h-60;
  }

  .socials {
    @apply text-white hover:text-pink-600 transition-colors duration-300 cursor-pointer;
  }
  .socials-div {
    @apply w-8 h-8 rounded-full bg-black flex justify-center items-center;
  }
  .footer-hover {
    @apply md:text-[1rem] hover:text-pink-600 transition-colors duration-300 text-black font-[playfair] text-[0.9rem];
  }
  .nav-hover {
    @apply hover:pl-4 transition-all duration-300;
  }
}
